/* static/css/style.css */

.custom-card {
    max-width: 800px; 
    border: none; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden; 
    height: 350px; 
}

.custom-info-box {
    background-color: #f7f3ed; /* Cor de fundo creme */
    height: 100%; 
    
    /* Configuração para o Slide-in */
    transform: translateX(100%); 
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* O mágico do HOVER */
.custom-card:hover .custom-info-box {
    transform: translateX(0); /* Move para a posição original */
    opacity: 1;
}

.card-img-container {
    overflow: hidden;
}
.card-img-container img {
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.custom-card:hover .card-img-container img {
    transform: scale(1.05); 
}