{% extends "layout.html" %}

{% block title %}
  Mip's Portfolio
{% endblock %}

{% block main %}
<h1 class="pt-5 mt-5 bolder" style="color: #1E90FF">Henrique "Mip" Marinho</h1>
  <h2 class="mb-3 text-secondary">Full-time Lawyer| Post-graduted in Legal Operations | Specialist in Brazil's Social Security | Legal Consultant in Software Automation Projects  </h2>
  <div class="mt-3">
    <nav class="nav">
      <a href="https://www.linkedin.com/in/henrique-marinho-2216982b6/" class="btn btn-primary me-5" target="_blank">Linkedln</a>
      <a href="https://www.instagram.com/marinnhohm?igsh=eHZiM21zZnM0cWcy&utm_source=qr" class="btn btn-primary me-5" target="_blank">Instagram</a>
      <a href="https://github.com/Mipdv?tab=overview&from=2025-10-01&to=2025-10-31" class="btn btn-primary me-5" target="_blank">GitHub</a>
      <a href="https://x.com/Miploys" class="btn btn-primary me-5" target="_blank">X(twitter)</a>
      <a href="https://docs.google.com/document/d/1x_6JJsGUY1UZkuv-3DUuQnmfxGg4vJAH/edit?usp=share_link&ouid=101415249838012280065&rtpof=true&sd=true" 
      target="_blank"
      class="btn btn-primary me-5"
      rel="noopener noreferrer">Resume</a>
  </div>

 <div class="container about-container zoom-fade">
  <div class="row align-items-start">
    
    <div class="col-md-4 text-center about-image">
      <img src="{{ url_for('static', filename='img/Mip.jpg') }}" alt="That's me">
    </div>

    <div class="col-md-8 about-text">
      <h2 id="about"class="bolder">About Me</h2>
      <p>Hi! I'm Henrique Marinho, a lawyer who enjoys innovation, technology, progressive laws, cinema, and games in general.</p>

<p>I am currently studying programming by myself through online courses, such as CS50, Data ICMC SQL (from Brazil's USP University), and I plan to take Javanauta Academy and the CS193p Swift course by Stanford University. I also intend to start an Information Systems degree in 2026.</p>

<p>My main goal is to become a full-stack developer, but the data science field is also very appealing to me, as well as mobile development. I will probably decide with time. For now, I need to maintain my focus, improving my studies and practicing programming.</p>

<p>Regarding my current job, I have 6 years of experience in the social security field, working as a lawyer at Marcos Inácio Advogados, one of Brazil's largest law firms, and as a consultant for lawsuits against the federal government—especially involving injury law, retirements, death pensions, paid maternity leave, and disability benefits. I have worked on more than 1,000 cases in federal and supreme courts, handling processes from beginning to end.</p>

<p>In the same field, I have acted as a legal consultant in automation projects aimed at increasing the legal team's performance, eliminating redundant tasks, providing fast and safe task distribution, and applying reinforcement learning to teach algorithms to recognize legal terms and generate tasks based on the contents of documents or legal acts.</p>

<p>Beyond my professional life, I love watching horror and sci-fi movies, reading Eastern European literature, and playing video games—mainly on the Nintendo Switch 2.</p>
    </div>
  </div>

    <div class="text-center mt-5">
     <h2 id ="cases" class="bolder" style="color: #1E90FF">Prominent Cases</h2>
          <p>
            In this topic, I will use fictional names, for client policy.
          </p>
      </div>
  <div class="container mt-5">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card mb-3 custom-card zoomin">

          <div class="row g-0"> 

            <div class="col-md-4 card-img-container">
              <img 
                src="{{ url_for('static', filename='img/justice.jpg') }}" 
                class="img-fluid rounded-start h-100 w-100 object-fit-cover" 
                alt="Mia">
            </div>
            
            <div class="col-md-8">
              <div class="card-body custom-info-box">
                
                <h3 class="card-title bolder" style="color: #1E90FF">
                  Elizabeth Wilson vs INSS (Instituto Nacional do Seguro Social)
                </h3>

                <p class="card-text">
                  I represented a disabled client who lost her initial benefit. Through deep investigation, 
                  I found her benefit was wrongfully granted; she was entitled to a
                  <strong>permanent death pension</strong> from her deceased father. I won the federal case, securing
                  <strong>five years of back payments</strong> and a new, permanent lifetime pension.
                </p>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


    <div class="container mt-5">
      <div class="row justify-content-end"> <div class="col-md-9 col-lg-8 ms-auto"> 
      
      <div class="card mb-3 custom-card zoomin">
        <div class="row g-0 h-100"> 
          
          <div class="col-md-4 card-img-container">
            <img src="{{ url_for('static', filename='img/justice.jpg') }}" 
                 class="img-fluid rounded-start h-100 object-fit-cover" 
                 alt="Mia">
          </div>
          
          <div class="col-md-8">
            <div id= "card-scroll" class="card-body custom-info-box">
              <h3 class="card-title bolder" style="color: #1E90FF">
                Michel Freeman vs CEBAP and INSS (Instituto Nacional do Seguro Social)
                </h3>
      <p class="card-text">This case involved an 83-year-old client who noticed unexplained deductions from his retirement payments. After a thorough investigation, I discovered that a private association had been unlawfully withdrawing funds for nearly four years without his consent. Despite the INSS claiming the deductions were authorized, no signed document existed. I filed a lawsuit against both the association and the INSS, and after an online hearing, we won — recovering all the wrongfully deducted payments plus compensation for moral and material damages.
      </p>
      </div>
          </div>

        </div>
      </div>
      </div>
  </div>
</div>


    <div class="text-center mt-5 pb-5 mb-5">
      <h2 id="projects" class="bolder" style="color: #1E90FF">Projects</h2>

      <div class="container mt-5">
  <div class="position-relative overflow-hidden rounded-4 shadow-lg scroll" style="max-width: 700px; margin: 0 auto;">
    <img src="{{ url_for('static', filename='img/lawtech2.jpg') }}" class="img-fluid w-100" alt="Lawtech">
    <div class="position-absolute bottom-0 start-0 w-100 p-4">
      <h3 class="fw-bold mb-2" style="color:#E6F7FF">Automation project for juridical team high performace</h3>
      <p class="mb-0" style="color: #E6F7FF">
        In this project, I worked as a consultant for the legal team to optimize daily tasks. Using our own API and Python, we trained a model to recognize patterns in legal documents, reinforced with data from over 1,000 spreadsheets for accuracy. We also implemented NLP so the model could understand the context of legal documents and automatically generate relevant tasks, such as identifying potential benefits or checking case deadlines.
      </p>
    </div>
  </div>
</div>

  <div class="container mt-5">
  <div class="row g-4">
    
    <div class="col-md-6">
      <div class="card hide-img bg-dark text-light shadow-lg border-0 rounded-4 overflow-hidden h-100">
        <img src="{{ url_for('static', filename='img/tori.jpeg') }}"
             class="img-fluid object-fit-cover" 
             alt="Project Hotei">
        <div class="card-body p-4">
          <h3 class="bolder mb-3" style="color: #1E90FF">Project Hotei</h3>
       <p class="text-light mb-0">
          This project was part of my post-graduate research, focused on developing an AI assistant 
          for drafting petitions, providing legal insights, and supporting clients through 
          personalized service powered by automated profiling and document analysis.
        </p>
        </div>
      </div>
    </div>

<div class="col-md-6">
      <div class="card hide-img bg-dark text-light shadow-lg border-0 rounded-4 overflow-hidden h-100">
        <img src="{{ url_for('static', filename='img/amazon.jpg') }}"
             class="img-fluid object-fit-cover" 
             alt="Roraima Indigenous Project" style="filter:blur(4px)">
        <div class="card-body p-4">
          <h3 class="bolder mb-3" style="color: #1E90FF">Roraima State Indigenous People Project</h3>
        <p class="text-light mb-0">
            A social initiative aimed at expanding legal assistance to Indigenous communities 
            in northern Brazil, especially the Yanomami tribe. The project focused on helping 
            with remote benefit applications, maternity leave rights, and retirement pensions 
            in regions with limited internet access.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

      <div class=" text-center mt-5 pb-5 mb-5">
        <h2 style="color: #1E90FF" class="bolder">And inside this portfolio, i have a small experimental project</h4>
        <article>
          <h5>
            On the <a href="/dashboard" target="_blank">dashboard</a> section, I've created a mini dashboard analyzing the composition of the U.S. Federal Courts by judges, Supreme Court decisions, and cases per year, generating insights for students and visitors.
          </h5>
        </article>
      </div>

      <div class="contact-container">
  <div class="contactme">
    <div class="contact-me">
      <img src="{{ url_for('static', filename='img/justice1.png')}}">
      <h2 id="contact-me" class="bolder">Mail me something!</h2>
      <p class="align-items: center;">I will respond as soon as possible!</p>
    </div>
  </div>

  <div class="col-md-9 col-lg-8 ms-auto">
    <form class="contact-form" action="/submit" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <h2 class="bolder">Contact me!</h2>
      <div class="input-row">
        <input name="email" type="email" class="form-control" placeholder="E-mail" required>
        <input name="subject" type="text" class="form-control" placeholder="Subject" required>
      </div>
      <textarea name="message" class="form-control" placeholder="Leave something!" rows="4" required></textarea>
      <button type="submit" class="btn btn-primary mt-3 bolder">Send</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}