{% extends "layout.html" %}

{% block title %}
  teste
{% endblock %}

{% block main %}
<h1 class="pt-5 mt-5" style="color: #1E90FF">Henrique "Mip" Marinho</h1>
  <h2 class="mb-3 text-secondary">Full-time Lawyer| Post-graduted in Legal Operations | Specialist in Brazil's Social Security | Legal Consultant in Software Automation Projects  </h2>
  <div class="mt-3">
    <nav class="nav">
      <a href="https://www.linkedin.com/in/henrique-marinho-2216982b6/" class="btn btn-primary me-5">Linkedln</a>
      <a href="https://www.instagram.com/marinnhohm?igsh=eHZiM21zZnM0cWcy&utm_source=qr" class="btn btn-primary me-5">Instagram</a>
      <a href="https://www.instagram.com/marinnhohm?igsh=eHZiM21zZnM0cWcy&utm_source=qr" class="btn btn-primary me-5">GitHub</a>
      <a href="https://x.com/Miploys" class="btn btn-primary me-5">X(twitter)</a>
  </div>

    <div class="mt-5">
      <h2>About Me</h2>
      <p>Hi! I'm Henrique Marinho, a lawyer that likes inovation, tecnologies, progressive laws, cinema and games in general.</p>
      <p>I am currently studing programing by myself, with some online courses, like CS50, Data ICMC SQL (From Brazil's USP University) and planing to take Javanauta Academy and CS193p swift course by Stanford University, but i plain to start Informations Systems degree in 2026. </p>
      <p>My main goal is to become a full-stack devoloper, but data science field is very appel to me, and mobile too. Probably, i will decide with time, and for now, i gotta maintain my foucus, only looking for geting better with studies and praticing at programing. </p>
      <p>As for my actual job, i have 6 years experience in social security field, acting as a lawyer in Marcos Inácio Advogaods, one of the biggest Brazil's Law firms, and consultant for lawsuits against the federal goverment, specially involving injurie law, retiremnts, death pensions, paid maternity leaves, and pensions for disable persons. I have acted in more than 1000 cases, with federal courts and supreme courts, working from the begining to the end of the case. </p>
      <p>In the same subject, i've acted as a legal consultant in automation projects, aiming to increase the legal team performace, eliminating redundant tasks, providing a fast and safe task's distributions and doing a reinforced learning to teach the algorith to recognize legal terms and generate tasks based on the content of a document or a legal act to be provided. </p>
      <p>Beyond my professional life and pursuits, i love to watch horror and sci-fi movies, read some east european books and beyond that, play some video games, mainly on Nitendo Switch 2. </p>
    </div>

    <div class="text-center mt-5">
     <h2 style="color: #1E90FF">Prominent Cases</h2>
          <p>
            In this topic, I will use fictional names, for client policy.
          </p>
      </div>
<div class="container mt-5">
  <div class="card mb-3 custom-card zoomin">
    <div class="row g-0 h-100"> 
      
      <div class="col-md-4 card-img-container">
        <img src="{{ url_for('static', filename='img/justice.jpg') }}" 
             class="img-fluid rounded-start h-100 object-fit-cover" 
             alt="Mia">
      </div>
      
      <div class="col-md-8">
        <div class="card-body custom-info-box">
          
          <h3 class="card-title" style="color: #1E90FF">
            Elizabeth Wilson vs INSS (Instituto Nacional do Seguro Social)
          </h3>
          <p class="card-text">
             I represented a disabled client who lost her initial benefit. Through deep investigation, I found her benefit was wrongfully granted; she was entitled to a
        <strong>permanent death pension</strong> from her deceased father. I won the federal case, securing
        <strong>five years of back payments</strong> and a new, permanent lifetime pension.
      </p>

          
        </div>
      </div>

    </div>
  </div>
</div>

    <div class="container mt-5">
      <div class="row justify-content-end"> <div class="col-md-9 col-lg-8 ms-auto"> 
      
      <div class="card mb-3 custom-card zoomin">
        <div class="row g-0 h-100"> 
          
          <div class="col-md-4 card-img-container">
            <img src="{{ url_for('static', filename='img/justice.jpg') }}" 
                 class="img-fluid rounded-start h-100 object-fit-cover" 
                 alt="Mia">
          </div>
          
          <div class="col-md-8">
            <div class="card-body custom-info-box">
              <h3 class="card-title" style="color: #1E90FF">
                Michel Freeman vs CEBAP and INSS (Instituto Nacional do Seguro Social)
                </h3>
      <p class="card-text">This case involved an 83-year-old client who noticed unexplained deductions from his retirement payments. After a thorough investigation, I discovered that a private association had been unlawfully withdrawing funds for nearly four years without his consent. Despite the INSS claiming the deductions were authorized, no signed document existed. I filed a lawsuit against both the association and the INSS, and after an online hearing, we won — recovering all the wrongfully deducted payments plus compensation for moral and material damages.
      </p>
      </div>
          </div>

        </div>
      </div>
      </div>
  </div>
</div>


    <div class="text-center mt-5 pb-5 mb-5">
      <h2>Projects</h2>

      <div class="container mt-5">
  <div class="position-relative overflow-hidden rounded-4 shadow-lg scroll" style="max-width: 700px; margin: 0 auto;">
    <img src="{{ url_for('static', filename='img/lawtech2.jpg') }}" class="img-fluid w-100" alt="Lawtech">
    <div class="position-absolute bottom-0 start-0 w-100 p-4">
      <h3 class="fw-bold mb-2" style="color:#E6F7FF">Automation project for juridical team high performace</h3>
      <p class="mb-0"style="color: #E6F7FF">
        In this project, I worked as a consultant for the legal team to optimize daily tasks. Using our own API and Python, we trained a model to recognize patterns in legal documents, reinforced with data from over 1,000 spreadsheets for accuracy. We also implemented NLP so the model could understand legal document contexts and automatically generate relevant tasks, such as identifying potential benefits or checking case deadlines.
      </p>
    </div>
  </div>
</div>

  <div class="container mt-5">
  <div class="row g-4">
    
    <div class="col-md-6">
      <div class="card hide-img bg-dark text-light shadow-lg border-0 rounded-4 overflow-hidden h-100">
        <img src="{{ url_for('static', filename='img/tori.jpeg') }}"
             class="img-fluid object-fit-cover" 
             alt="Project Hotei">
        <div class="card-body p-4">
          <h3 class="fw-bold mb-3" style="color: #1E90FF">Project Hotei</h3>
          <p class="text-light mb-0">
            This project was part of my post-graduate research, focused on an AI assistant 
            for building petitions, providing legal insights, and supporting clients 
            with personalized service through automated profiling and document analysis.
          </p>
        </div>
      </div>
    </div>

<div class="col-md-6">
      <div class="card hide-img bg-dark text-light shadow-lg border-0 rounded-4 overflow-hidden h-100">
        <img src="{{ url_for('static', filename='img/amazon.jpg') }}"
             class="img-fluid object-fit-cover" 
             alt="Roraima Indigenous Project" style="filter:blur(4px)">
        <div class="card-body p-4">
          <h3 class="fw-bold mb-3" style="color: #1E90FF">Roraima State Indigenous People Project</h3>
          <p class="text-light mb-0">
            A social initiative to extend legal aid to Indigenous communities in northern Brazil, 
            especially the Yanomami tribe. The project focused on helping with remote 
            benefit applications, maternity leave rights, and retirement pensions 
            in areas with limited internet access.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

      <div class=" text-center mt-5 pb-5 mb-5">
        <h2 style="color: #1E90FF">And inside this portfolio, i have two experimental projects</h4>
        <article>
          <h5>On section 2 of this website, i've made a mini dashboard about a analysys of USA's courts behaivor, generating insights for students and visitors.</h5>
          <h5>On section 3, there's a AI powered chatbot to ask questions about the juridical world and to clarify some doubts about legal terms and to compare the USA justice system with your home country.</h5>
        </article>
      </div>

      <div class="contact-container">
  <div class="contactme">
    <div class="contact-me">
      <img src="{{ url_for('static', filename='img/justice1.png')}}">
      <h2>Mail me something!</h2>
      <p class="align-items: center;">I will respond as soon as possible!</p>
    </div>
  </div>

  <div class="col-md-9 col-lg-8 ms-auto">
    <form class="contact-form">
      <h2>Contact me!</h2>
      <div class="input-row">
        <input type="email" class="form-control" placeholder="E-mail" required>
        <input type="text" class="form-control" placeholder="Subject" required>
      </div>
      <textarea class="form-control" placeholder="Leave a suggestion!" rows="4" required></textarea>
      <button type="submit" class="btn btn-primary mt-3">Send</button>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}